In [6]:
x = 10

In [4]:
x = 20
x

20

In [7]:
#commenting
#print(x)

In [7]:
'print(x)'

'print(x)'

In [8]:
"the statement of print(x)"

'the statement of print(x)'

In [1]:
'''the triple quotes uses multi line statement'''

'the triple quotes uses multi line statement'

In [10]:
one_1 = 0              #we cannot write numerical value at first

In [11]:
one_1

0

ASSIGNING VALUE

In [6]:
A = 102

In [7]:
a = 105

In [8]:
A

102

In [9]:
a,b,c = 10,20,30

In [15]:
a,b

(10, 20)

In [16]:
b

20

In [17]:
c

30

local variable and global variable

In [20]:
r = 10                    #global variable (outside the class)
def add(a,b):
    r = a+b                #local variable (inside the class)
    return r

In [21]:
r

10

DATA TYPES

In [22]:
t = 'Excelr'             #string can always be written in single and double exclimation mark

In [23]:
type(t)

str

In [24]:
t1 = 10
type(t1)

int

In [25]:
t2 = 0.24
type(t2)

float

In [26]:
t3 = 1J+7
type(t3)

complex

In [27]:
lis = [1,2,3,4,5]                 #list can always be written in []
type(lis)

list

In [28]:
list1 = [10,2,30,3,'anish','excelr']

In [29]:
type(list1)

list

In [30]:
import keyword

In [31]:
print(keyword.kwlist)      # to find the list of keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
dic = {'one':1,'two':2,'three':3}          #always be written in flower bracket{}

In [33]:
dic

{'one': 1, 'two': 2, 'three': 3}

In [3]:
dict1= {'num':[0,1,2,3,4,5],'name':['anish','aayush','priya']}      # mandatory to present the keys(lables) and values

In [4]:
dict1

{'num': [0, 1, 2, 3, 4, 5], 'name': ['anish', 'aayush', 'priya']}

In [5]:
 dict1['num']             #for the specific value

[0, 1, 2, 3, 4, 5]

In [6]:
dict1.keys()

dict_keys(['num', 'name'])

In [41]:
dict1.values()

dict_values([[0, 1, 2, 3, 4, 5], ['anish', 'aayush', 'priya']])

In [7]:
tup = (1,2,3,4,5)           #tuple is always written as without brackets

In [8]:
type(tup)

tuple

In [10]:
ran = range(0,2)

In [11]:
type(ran)

range

In [12]:
ran

range(0, 2)

In [50]:
tr = True
type(tr)

bool

In [52]:
True==False

False

In [53]:
True!=False

True

type casting (changing the datatype)

In [14]:
one = '11'
type(one)

str

In [59]:
two = int(one)
type(two)

int